li{
  float: left;
  border-right:1px solid #bbb;
}

.list{
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

li :hover{
  text-decoration: none;
  list-style-type: none;
  color: #111;
  background-color: #E0A96D;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DDC3A5;
  width: 100%;
}

body{
  background-color: #E0A96D;
}

.jumbotron{
  background-color: #DDC3A5;
  padding-left: 600px;
  margin: 5px;
}

.btn{
  background-color: #E0A96D;
  color: #111;
  margin-left: 115px;
}

.form-control{
  width: 30%;
  margin: 10px;
}

input[placeholder]{
  font-family: 'Courier New', Courier, monospace;
}

.container{
  background-color: #fff;
}