li{
  float: left;
  border-right:1px solid #bbb;
}

.list{
  display: block;
  color: #111;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  
}

li :link{
  text-decoration: none;
  color: green;
}

li :hover{
  text-decoration: none;
  list-style-type: none;
  color: #fff;
  background-color: #68889E;
}

li :active{
  text-decoration: none;
  color: #68889E;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DDC3A5;
  width: 100%;
}

body{
  background-color: #E0A96D;
}

legend{
  background-color: #DDC3A5;
  margin: 5px;
}

.btn{
  background-color: #000;
  color: #fff;
}

.form-control{
  margin: 10px;
  width: 200%;
}

input[placeholder]{
  font-family: 'Courier New', Courier, monospace;
}

.container{
  background-color: #fff;
  text-align: center;
}

h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

form{
  border: 1px solid black;
  padding: 10px;
  margin-right: 100px;
  justify-content: center;
  display: flex;
}

.personal{
  padding: 15px;
  border: solid #000 1px;
  text-align: right;
}

.container_cv{
  background-color: #fff;
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.edu{
  border: solid #000 1px;
}

.skills{
  border: solid #000 1px;
}

.experience{
  border: solid #111 1px;
}

.header_cv{
  font-size: 22px;
  font-weight: 200;
}

h4{
  margin-top: 10px;
}